/* this file is loaded by index.html and styles the page */

 body {
   background-color: #000000;
 }
 
 .blinking{
     animation:blinkingText 1.2s infinite;
 }

 @keyframes blinkingText{
     0%{     color: #00ff00;    }
     49%{    color: #00ff00; }
     60%{    color: transparent; }
     99%{    color:transparent;  }
     100%{   color: #00ff00;    }
 }